--find-links https://download.pytorch.org/whl/torch_stable.html
psutil==5.9.4
torch==1.12.1+cpu
torchvision==0.13.1+cpu
torchaudio==0.12.1+cpu
torchtext==0.13.1
transformers==4.26.0
python-interface
pandas
plotnine
pyarrow
intel_extension_for_pytorch==1.12.*

# TorchServe dependencies
pygit2==1.6.1
click
click_config_file
future==0.18.3
cython
wheel==0.38.4
requests==2.28.2
pillow==9.0.1
captum==0.6.0
packaging
numpy==1.24.1
nvgpu==0.9.0
