psutil
torch==1.12.1+cpu -f https://download.pytorch.org/whl/torch_stable.html
torchvision==0.13.1+cpu -f https://download.pytorch.org/whl/torch_stable.html
torchaudio==0.12.1+cpu -f https://download.pytorch.org/whl/torch_stable.html
transformers
python-interface
pandas
plotnine
pyarrow
